
@import '../../../assets/style/mixin.scss';
.Webheader{
    width: 100%;
    height: 60px;
    background-color: #0caa7d;
  
    // @include screen(1205px) {
        
    //     display: none;
    //             }
    .L-header{
        width: 90%;
        height: 60px;
margin: 0 auto;
        display: flex;
        justify-content: space-between;
         @include screen(1200px) {
           width: 98%;
        }
        .L-block{
            width: 100%;
       height: 60px;
    padding-top: 20px;
    margin-left: 35px;
.L-contact-link{

    text-decoration: none;
    padding: 15px 20px;
margin-left: 10px;
    color: #ffffff;
    text-align: center;
font-size: 19px;
}
        }
        .L-block1{
            width: 40%;
            height: 60px;
       display: flex;
padding: 20px 150px;
         .L-contact-link{
 
         cursor: pointer;
        margin-left: 10px;
            color: #ffffff;
         
        font-size: 20px;
        }
        .icon-search{
            color: #ffffff;
            font-size: 19px;
         cursor: pointer;
            padding-top: 5px;
            margin-left: 15px;
        }
        }
    }
}