
@import '../../../assets/style/mixin.scss';
.L-testimonial {
    width: 100%;
    margin-top: 50px;

    .L-poop {
        width: 100%;
        height: 100px;
        padding-top: 15px;

        .L-h3 {
            color: #000000;
            font-weight: 700;
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 0.5rem;
            line-height: 1.2;
  
        
        }

        .L-l {
            width: 60px;
            height: 4px;
    
            bottom: -2px;
            background-color: #6bd1bd;
         
        }
    }
    .L-left{
        width: 100%;
        height: 200px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: 300px;
     
        .L-p-logo{
            width: 50px;
            height: 50px;
            background-color: #0caa7d;
           margin-right: 30px;
           cursor: pointer;
        font-size: 35px;
        padding-left: 15px;
        padding-top: 5px;
        border-radius: 50%;
        margin-left: 25px;
        &:hover{
            background-color: #fb1004;
            color: white;
        }
        }
    }
    .L-div {
        width: 100%;

        display: flex;
        justify-content: space-between;
        @include screen(1000px){
            display: block;
                }
        .L-item {
            width: 48%;
            height: 650px;
            background-color: #f3f3f3;
            border-radius: 30px;
            @include screen(1000px){
           width: 60%;
           margin: 0 auto;
                    }
                    @include screen(805px){
                        width: 80%;
                        margin: 10px auto;
                                 }
                                 @include screen(510px){
                                height: 750px;
                                                 }
                                                 @include screen(360px){
                                                    height: 830px;
                                                                     }
            .L-photo {
                width: 90%;
                height: 250px;
                margin: 0 auto;
                display: flex;
     
              @include screen(480px){
                height: 180px;
                                 }
                .L-img {
                    width: 35%;
                    height: 200px;
                    background-image: url('../../../assets/image/client-1.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 20px 50px;
                    margin-left: 25px;
                    margin-right: 25px;
                    padding: 25px;
                    border-radius: 30px;
                    @include screen(480px){
                        height: 150px;
                                         }
                                         @include screen(450px){
                                            width: 80%;
                                                             }                    
                }

                .L-font {
                    width: 40%;
                    height: 200px;
                    @include screen(450px){
                        width: 100%;
                                          }
                    .L-size {
                        text-transform: uppercase;
                        color: #0caa7d;
                        font-weight: bold;
                        line-height: 1.2;
                        font-family: 'Poppins', sans-serif;
                        font-size: 20px;
                        padding-top: 140px;
                        @include screen(480px){
                      padding-top: 80px;
                      font-size: 18px;
                                             }

                    }

                    .L-p {
                        font-family: 'Poppins', sans-serif;
                        color: #101010;
                        font-weight: 400;
                        line-height: 1.5;
                        font-size: 18px;
                        padding-top: 5px;
                    }
                }
            }

            .L-block {
                width: 95%;
                margin: 0 auto;
                font-family: 'Poppins', sans-serif;
                color: #101010;
                font-weight: 400;
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: 16.5px;
            }
        }

        .L-item1 {
            width: 48%;
            height: 650px;
            background-color: #f3f3f3;
            margin-top: 90px;
            border-radius: 30px;
            @include screen(1000px){
                width: 60%;
                margin: 10px auto;
                         }
                         @include screen(805px){
                            width: 80%;
                            margin: 10px auto;
                                     }

                                     @include screen(510px){
                                        height: 750px;
                                                         }
                                                         
                                     @include screen(360px){
                                        height: 830px;
                                                         }
            .L-photo {
                width: 90%;
                height: 250px;
                margin: 0 auto;
                display: flex;
                @include screen(480px){
                    height: 180px;
                                     }
                .L-img {
                    width: 35%;
                    height: 200px;
                    background-image: url('../../../assets/image/client-2.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 20px 50px;
                    margin-left: 25px;
                    margin-right: 25px;
                    padding: 25px;
                    border-radius: 30px;
                    @include screen(480px){
                        height: 150px;
                                         }
                                         @include screen(450px){
                                            width: 80%;
                                                             } 

                }

                .L-font {
                    width: 40%;
                    height: 200px;
                    @include screen(450px){
                        width: 100%;
                                          }
                    .L-size {
                        text-transform: uppercase;
                        color: #0caa7d;
                        font-weight: bold;
                        line-height: 1.2;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        padding-top: 140px;
                        @include screen(480px){
                            padding-top: 80px;
                            font-size: 17px;
                                                   }
                                                  
                    }

                    .L-p {
                        width: 90%;

                        font-family: 'Poppins', sans-serif;
                        color: #101010;
                        font-weight: 400;
                        line-height: 1.5;
                        font-size: 18px;
                        padding-top: 5px;
                    }
                }
            }

            .L-block {
                width: 95%;
                margin: 0 auto;
                font-family: 'Poppins', sans-serif;
                color: #101010;
                font-weight: 400;
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: 16.5px;

                // @include screen(805px){
                //   font-size: 15px;
                //              }
            }
        }
    }
}