@import '../../../assets/style/mixin.scss';

.L-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    background-color: #0ca57a;

    @include screen(1000px) {
        display: block;

    }
    @include screen(400px) {
        height: 150vh;

    }
    .L-contact-div {
        width: 50%;
       
        padding-top: 100px;
  

        @include screen(1000px) {
            width: 80%;
            margin: 0 auto;

        }

        @include screen(510px) {
            width: 100%;
            height: 450px;
            padding-left: 35px;
            padding-top: 10px;
        }

        @include screen(450px) {

            padding-left: 25px;
        }

        @include screen(385px) {

            padding-left: 0px;
        }
        @include screen(340px) {

            padding-left: 10px;
        }

        .L-input-block {


            margin-left: 150px;

            @include screen(1288px) {
                margin-left: 150px;
            }

            @include screen(1110px) {
                margin-left: 80px;
            }

            @include screen(600px) {
                margin-left: 0px;

            }

            .L-h2 {
                margin-bottom: 45px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                line-height: 1.2;
                font-size: 35px;
                color: #fff;
                padding-left: 10px;
            }

            .L-inp {
                width: 500px;
                height: 60px;
                margin-top: 15px;
                border-radius: 30px;
                font-size: 18px;
                padding-left: 15px;
                border: 1px solid #bbbbbb;
                font-family: inherit;

                line-height: inherit;

                @include screen(1288px) {
                    width: 400px;
                }

                @include screen(410px) {
                    width: 350px;
                }
                @include screen(352px) {
                    width: 310px;
                }
              

            }

            .L-input {
                width: 500px;
                height: 110px;
                margin-top: 15px;
                border-radius: 20px;
                font-size: 22px;
                padding-left: 15px;
                border: 1px solid #bbbbbb;
                font-family: inherit;
                line-height: inherit;

                @include screen(1288px) {
                    width: 400px;
                }

                @include screen(410px) {
                    width: 350px;
                }

                @include screen(352px) {
                    width: 310px;
                }

            }

            .L-btn {
                background-color: #fa0909;
                padding: 20px 75px;
                outline: none;
                font-size: 17px;
                border: none;
                border-radius: 30px;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                cursor: pointer;
                margin-top: 50px;

                &:hover {
                    &:hover {
                        background-color: rgb(206, 18, 18);
                    }
                }
            }
        }
    }

    .L-image-contact {
        width: 50%;
        height: 700px;
        background-image: url('../../../assets/image/contact.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include screen(1000px) {
            width: 100%;
            margin: 0 auto;
        }

        @include screen(600) {
          height: 500px;
        }
    }
}