@import '../../../../assets/style/mixin.scss';
.L-img-div{
    width: 24%;
margin-top: 10px;
@include screen(840px){
  width: 48%;
      }
      @include screen(790px){
        width: 97%;
        margin: 10px 0px;
            }
    .L-img{
width: 100%;
height: 400px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 20px;

.L-img-name{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
    filter: drop-shadow(8px 3px 8px #000000);
    padding-top: 100px;
}
    }
}